django-filer==3.1.1 # installs django
django-filer[heif] # support .heic images
django-allauth
django-environ
Pillow
whitenoise
opencv-python-headless # avoid pulling in complete X11 stack
dj-database-url # lets django connect to postgres db
psycopg2-binary # lets django talk to postgres db
gunicorn # wsgi instead of manage.py runserver
setuptools
boto3[crt]
django-storages[s3]
geopy
requests