asgiref==3.8.1
awscrt==0.23.8
boto3==1.37.33
botocore==1.37.33
chardet==5.2.0
cssselect2==0.8.0
dj-database-url==2.3.0
Django==5.0.14
django-allauth==65.7.0
django-environ==0.12.0
django-filer==3.1.1
django-polymorphic==3.1.0
django-storages==1.14.6
easy-thumbnails==2.10
geographiclib==2.0
geopy==2.4.1
gunicorn==23.0.0
jmespath==1.0.1
lxml==5.3.2
numpy==2.2.4
opencv-python-headless==4.11.0.86
packaging==24.2
pillow==11.2.1
pillow_heif==0.22.0
pip==25.0.1
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
reportlab==4.3.1
s3transfer==0.11.4
setuptools==78.1.0
six==1.17.0
sqlparse==0.5.3
svglib==1.5.1
tinycss2==1.4.0
typing_extensions==4.13.2
urllib3==2.4.0
webencodings==0.5.1
whitenoise==6.9.0
