asgiref==3.8.1
boto3==1.26.0
botocore==1.29.165
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
cssselect2==0.8.0
dj-database-url==2.3.0
Django==5.2.15
django-allauth==65.14.1
django-environ==0.12.0
django-filer==3.3.0
django-polymorphic==3.1.0
django-storages==1.14.6
easy-thumbnails==2.10
geographiclib==2.0
geopy==2.4.1
gunicorn==23.0.0
idna==3.10
jmespath==1.0.1
lxml==6.1.0
numpy==2.2.4
opencv-python-headless==4.11.0.86
packaging==24.2
pillow==12.2.0
pillow_heif==0.22.0
pip==24.2
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
reportlab==4.3.1
requests==2.33.0
s3transfer==0.6.2
setuptools==78.1.1
six==1.17.0
sqlparse==0.5.3
svglib==1.5.1
tinycss2==1.4.0
typing_extensions==4.13.2
urllib3==1.26.20
webencodings==0.5.1
whitenoise==6.9.0
