{% extends 'layouts/empty.html' %} {% block content %}
<div class="flex items-center justify-center gap-6 pt-10">
    <a href="{% url 'observed-animals' %}">Observed</a>
    <a href="{% url 'unobserved-animals' %}">Unobserved</a>
</div>
<div class="mx-auto mt-4 flex items-center justify-center md:max-w-6xl">
    <table class="table-auto">
        <thead class="[&>tr>th]:px-4 [&>tr>th]:py-2 [&>tr>th]:text-left">
            <tr>
                <th>id_code</th>
                <th>name</th>
                <th>sex</th>
                <th>cohort</th>
                <th>capture date</th>
                <th>images</th>
            </tr>
        </thead>
        <tbody class="[&>tr>td]:border [&>tr>td]:px-4 [&>tr>td]:py-2">
            {% if url_name == "observed-animals" %}
            <tr>
                <td><a href="{% url 'unidentified-images'%}">unidentified</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{no_id_count}}</td>
            </tr>
            {% else %} {% for i in animals %}
            <tr>
                <td><a href="">{{i.id_code}}</a></td>
                <td>{{i.name}}</td>
                <td>{{i.sex}}</td>
                <td>{{i.cohort}}</td>
                <td>{{i.capture_date}}</td>
                <td>{{i.ibeximage_set.count}}</td>
            </tr>
            {% endfor %} {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
