{% extends 'layouts/empty.html' %} {% block content %}
<div class="mx-auto mt-4 flex flex-col items-center justify-center md:max-w-6xl">
    <table class="table-auto">
        <h1>Unidentified Images</h1>
        <thead class="[&>tr>th]:px-4 [&>tr>th]:py-2 [&>tr>th]:text-left">
            <tr>
                <th>file_name</th>
            </tr>
        </thead>
        <tbody class="[&>tr>td]:border [&>tr>td]:px-4 [&>tr>td]:py-2">
            {% for i in images %}
            <tr>
                <td><a href="{{i.url}}">{{i}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
