{% extends 'layouts/empty.html' %} {% block content %}
<div class="max-w-screen-lg mx-auto">
    <div class="flex flex-col md:flex-row gap-4">
        <!-- Left Column: Large Image -->
        <div class="w-full md:w-3/5 flex flex-col items-center">
            <img
                src="{{ image.url }}"
                alt="Large Image"
                class="w-[736px]"
            />
            <div>
                <!-- Delete confirmation message -->
                <div class="mt-2 self-end">
                    <p class="text-red-500">Are you sure you want to delete {{ image.name }}?</p>
                </div>
            </div>
            <div class="mt-4 flex justify-end space-x-4 self-end">
                <a href="{% url 'read-image' oid=image.id %}">
                    <button class="button !bg-gray-200 !text-black">Cancel</button>
                </a>
                <form
                    method="POST"
                    action=""
                >
                    {% csrf_token %}
                    <button
                        type="submit"
                        class="button !bg-red-500"
                    >
                        Delete
                    </button>
                </form>
            </div>
        </div>
        <!-- Right Column: File info, Location, and Small Image -->
        <div class="w-full md:w-2/5 flex flex-col items-start text-left">
            <!-- File Information -->
            <div>
                <label class="font-bold block">File Name:</label>
                <p>{{ image.name }}</p>
            </div>
            <div>
                <label class="font-bold block">Original File Name:</label>
                <p>{{ image.original_filename }}</p>
            </div>
            <div>
                <label class="font-bold block">Horn Side:</label>
                <p>{{ image.side }}</p>
            </div>
            <!-- Location -->
            <div>
                <label class="font-bold block">Region:</label>
                {% if image.location.region %}
                <p>{{ image.location.region }}</p>
                {% else %}
                <button class="button">Set Location</button>
                {% endif %}
            </div>
            <!-- Horn Chip -->
            <div class="self-start">
                <label class="font-bold block">Horn Chip:</label>
                {% if image.side %} {% if image.ibexchip.url %}
                <input
                    type="image"
                    src="{{ image.ibexchip.url }}"
                    alt="Small Image"
                    class="!p-0 h-[200px] rounded-sm ring-2 ring-blue-500"
                />
                {% else %}
                <button
                    type="submit"
                    class="button"
                >
                    Set Landmarks
                </button>
                {% endif %} {% else %}
                <button
                    disabled
                    onclick="return false;"
                    class="button"
                >
                    Set Landmarks
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
