{% extends 'layouts/empty.html' %}
{% load static %}
{% block content %}
<div class="max-w-screen-md mx-auto p-4">
    <div>
        <label
            class="font-bold"
            for="file-name"
            >File Name:</label
        >
        <p>{{ image.name }}</p>
    </div>
    <div>
        <label
            class="font-bold"
            for="original-file-name"
            >Original File Name:</label
        >
        <p>{{ image.original_filename }}</p>
    </div>

    <form id="image-update-form" method="POST" action="">
        {% csrf_token %}
        <div class="mb-6">
            <label for="horn-side" class="block font-bold mb-2">Horn Side:</label>
            <select id="horn-side" name="horn_side" class="border p-2 rounded-md focus:ring-2 focus:ring-blue-500">
                <option value="L" {% if image.side == "L" %}selected{% endif %}>Left</option>
                <option value="R" {% if image.side == "R" %}selected{% endif %}>Right</option>
                <option value="O" {% if image.side == "O" %}selected{% endif %}>Other</option>
            </select>
        </div>

        <!-- Display the image -->
        <div class="mb-4 flex justify-center">
            <img
                src="{{ image.url }}"
                alt="Uploaded Image"
                class="w-[736px] mx-auto"
            />
        </div>

        <div class="w-full flex justify-end space-x-4 p-4">
            <a href="{% url 'read-image' oid=image.id %}">
                <button type="button" class="button !bg-gray-200 !text-black">Cancel</button>
            </a>
            <a href="{% url 'delete-image' oid=image.id %}">
                <button type="button" class="button !bg-red-500">Delete</button>
            </a>
            <button type="submit" class="button ml-auto">Save</button>
        </div>
    </form>
</div>
{% endblock %}
