{% extends 'layouts/empty.html' %} {% block content %}
<div class="max-w-screen-lg mx-auto">
    <div class="flex flex-col md:flex-row gap-4">
        <!-- Left Column: Large Image -->
        <div class="w-full md:w-3/5 flex flex-col items-center">
            <div class="drawOnImage">
                <!-- 4 px offset to center the displayed point (point width = 8px) -->
                <div
                    class="greenDot"
                    style="top: {{ y_horn_percent }}%; left: {{ x_horn_percent }}%; transform: translate(-50%, -50%);"
                ></div>
                <div
                    class="pinkDot"
                    style="top: {{ y_eye_percent }}%; left: {{ x_eye_percent }}%; transform: translate(-50%, -50%);"
                ></div>
                <img
                    src="{{ image.url }}"
                    alt="Large Image"
                    class=""
                />
            </div>
            <div class="mt-4 flex justify-end space-x-4 self-end">
                <a href="{% url 'delete-image' oid=image.id %}">
                    <button class="button !bg-red-500">Delete</button>
                </a>
                <a href="{% url 'read-image' oid=image.id %}">
                    <button class="button !bg-gray-200 !text-black">Cancel</button>
                </a>
                <button form="image-update-form" type="submit" name="save" class="button">Save</button>
            </div>
        </div>
        
        <!-- Right Column: File info, Location, and Small Image -->
        <div class="w-full md:w-2/5 flex flex-col items-start text-left">
            <form id="image-update-form" method="POST" action="">
                {% csrf_token %}
                <!-- File Information -->
                <div class="w-80">
                    <label class="font-bold block">File Name:</label>
                    <input type="text" name="file-name" id="file-name" class="border p-1 rounded-md focus:ring-2 focus:ring-blue-500 " value="{{ image.name }}" />                    
                </div>
                <div>
                    <label class="font-bold block">Original File Name:</label>
                    <p>{{ image.original_filename }}</p>
                </div>
                <div>
                    <label for="horn-side" class="font-bold block">Horn Side:</label>
                    <select id="horn-side" name="horn-side" class="border p-1 rounded-md focus:ring-2 focus:ring-blue-500">
                        <option value="" {% if not image.side %} selected   {% endif %} disabled hidden>Select horn side</option>
                        <option value="L" {% if image.side == "L" %} selected {% endif %}>Left</option>
                        <option value="R" {% if image.side == "R" %} selected {% endif %}>Right</option>
                        <option value="O" {% if image.side == "O" %} selected {% endif %}>Other</option>
                    </select>
                </div>
            </form>
            <!-- Location -->
            <div>
                <label class="font-bold block">Region:</label>
                {% if image.location.region %}
                <p>{{ image.location.region }}</p>
                {% else %}
                <button class="button">Set Location</button>
                {% endif %}
            </div>
            <!-- Horn Chip -->
            <div class="self-start">
                <form
                method="POST"
                action="{% url 'multi-task' %}"
                style="display: inline"
                >
                    {% csrf_token %}
                    <input
                        type="hidden"
                        name="selected-files"
                        value="{{ image.id }}"
                    />
                    <input
                        type="hidden"
                        name="next_id_index"
                        value="0"
                    />
                    <input
                        type="hidden"
                        name="task"
                        value="landmark"
                    />
                    <label class="font-bold block">Horn Chip:</label>
                    {% if image.side %}
                    {% if image.ibexchip.url %}
                    <input type="image" src="{{ image.ibexchip.url }}" alt="Small Image" class="!p-0 h-[200px] rounded-sm ring-2 ring-blue-500"/>
                    {% else %}
                    <button type="submit" class="button">Set Landmarks</button>
                    {% endif %}
                    {% else %}
                    <button disabled onclick="return false;" class="button">Set Landmarks</>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
