{% extends 'layouts/empty.html' %} {% load static %} {% block content %}
<div class="max-w-screen-md mx-auto p-4">
    <div>
        <form
            method="POST"
            action="{% url 'multi-task' %}"
        >
            {% csrf_token %}
            <input
                type="hidden"
                name="task"
                value="view"
            />
            <input
                type="hidden"
                name="next_id_index"
                value="{{ next_id_index }}"
            />
            <input
                type="hidden"
                name="selected-files"
                value="{{ selected_img_ids }}"
            />
            <img
                src="{{ image.url }}"
                alt=""
            />
            {% if next_image_id %}
            <button type="submit">next</button>
            {% else %}
            <a href="{% url 'unidentified-images' %}"><button type="button">next</button></a>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
