{% extends 'layouts/empty.html' %} {% load static %}{% block content %}
<div class="max-w-screen-md mx-auto px-4">
    <div>
        <label
            class="font-bold"
            for="region-name"
            >Enter region name:</label
        >
        <input
            type="text"
            id="region-name"
            class="border p-2 rounded-md focus:ring-2 focus:ring-blue-500"
        />
    </div>
    <div>
        <label
            class="font-bold"
            for="radius"
            >Radius in meters from origin:</label
        >
        <input
            type="text"
            id="radius"
            class="border p-2 rounded-md focus:ring-2 focus:ring-blue-500"
        />
    </div>
    <label
        class="font-bold"
        for="map"
        >Select origin:</label
    >
    <div
        id="map"
        class="p-4"
        style="height: 500px; width: 736px"
    ></div>

    <form
        id="region-form"
        method="POST"
        action="{% url 'save-region' %}"
    >
        {% csrf_token %}
        <input
            type="hidden"
            name="region-id"
            value="{{region.id}}"
        />
        <input
            type="hidden"
            name="region-name"
            id="form-region-name"
        />
        <input
            type="hidden"
            name="radius"
            id="form-radius"
        />
        <input
            type="hidden"
            name="latitude"
            id="form-latitude"
        />
        <input
            type="hidden"
            name="longitude"
            id="form-longitude"
        />
        <div class="w-full flex justify-end space-x-4 p-4">
            <a href="{% url 'read-region' oid=region.id %}"><button class="button !bg-gray-200 !text-black">Cancel</button></a>
            <button class="button ml-auto">Save</button>
        </div>
    </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // get coordinates of origin of region
        var current_region_name = "{{region.name|escapejs}}";
        var origin_lat = {{region.origin_latitude|escapejs}};
        var origin_lng = {{region.origin_longitude|escapejs}};
        var origin_rad = {{region.radius|escapejs}};

        // initilize leaflet map
        var map = L.map("map").setView([origin_lat, origin_lng], 13);

        L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        }).addTo(map);

        // display marker and region circle
        var marker = L.marker([origin_lat, origin_lng]).addTo(map);
        var circle = L.circle([origin_lat, origin_lng], {
            fillOpacity: 0.1,
            radius: origin_rad,
        }).addTo(map);

        // move marker and region to clicked map location
        function onMapClick(event) {
            lat = event.latlng.lat;
            lng = event.latlng.lng;
            marker.setLatLng([lat, lng]).addTo(map);
            circle.setLatLng([lat, lng]).addTo(map);
        }

        map.on("click", onMapClick);

        // Update circle radius dynamically
        document.getElementById("radius").addEventListener("input", function () {
            let newRadius = parseFloat(this.value);
            if (!isNaN(newRadius) && newRadius > 0) {
                circle.setRadius(newRadius);
            }
        });

        // Prefill input field with current name
        document.getElementById("region-name").value = current_region_name;

        // Prefill input field with the current radius value
        document.getElementById("radius").value = origin_rad;

        // parse values
        document.getElementById("region-form").addEventListener("submit", function (event) {
            let regionName = document.getElementById("region-name").value.trim();
            let radius = circle.getRadius();
            let latitude = marker.getLatLng().lat;
            let longitude = marker.getLatLng().lng;

            // Check if the region name is empty
            if (regionName === "") {
                alert("Region name is required!"); // Notify the user
                event.preventDefault(); // Stop form submission
                return;
            }

            // Assign values to hidden input fields
            document.getElementById("form-region-name").value = regionName;
            document.getElementById("form-radius").value = radius;
            document.getElementById("form-latitude").value = latitude;
            document.getElementById("form-longitude").value = longitude;
        });
    });
</script>
{% endblock %}
