{% extends 'layouts/empty.html' %} {% block content %}
<div class="mx-auto mt-4 flex items-center justify-center md:max-w-6xl">
    <table class="table-auto">
        <thead class="[&>tr>th]:px-4 [&>tr>th]:py-2 [&>tr>th]:text-left">
            <tr>
                <th>file_name</th>
                <th>side</th>
                <th>chip</th>
                <th>action</th>
                <th>id</th>
            </tr>
        </thead>
        <tbody class="[&>tr>td]:border [&>tr>td]:px-4 [&>tr>td]:py-2">
            {% for i in images %}
            <tr>
                {% if i.side %}
                <td><a href="{% url 'landmark-horn' oid=i.id %}">{{i.name}}</a></td>
                {% else %}
                <td>{{i.name}}</td>
                {% endif %}
                <td>{{i.side}}</td>
                {% if i.ibexchip.ibex_image_id %}
                <td><a href="{{ i.ibexchip.url }}">ok</a></td>
                <td>
                    <!-- <a
                        href="{% url 'result' oid=i.ibexchip.id %}"
                        class="button"
                        >run</a
                    > -->
                    <a
                        href=""
                        class="button"
                        >run</a
                    >
                </td>
                {% else %}
                <td>-</td>
                <td>-</td>
                {% endif %}
                <td>-</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
