<header class="headertext pt-6 pb-20 flex h-14 items-center justify-center gap-6 [&>nav>ul>li>a]:!text-black [&>nav>ul>li>a]:underline">
    <nav>
        <ul class="flex items-center gap-6">
            {% if user.is_authenticated %}
            <li><a href="{% url 'animals' %}">Animals</a></li>
            <li><a href="{% url 'region-overview'%}">Regions</a></li>
            <li><a href="{% url 'images-overview' %}">Identification</a></li>
            <li><a href="{% url 'results-overview'%}">Results</a></li>
            <li>|</li>
            <li><a href="{% url 'account_change_password' %}">Profile</a></li>
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            <li><a href="{% url 'account_login' %}">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
