{% extends 'base.html' %} {% block layout %}
<main
    class="fixedContainer"
    style="width: {{display_width}}px;"
>
    <div class="flex items-center justify-center">
        {% if side == 'R' %}
        <img class="rightChip" src="{{chip}}"/>
        {% else %}
        <img class="imageToLandmark" src="{{chip}}"/>
        {% endif %}
        {% comment %} usemap="#chip" {% endcomment %}
    </div>
    {% comment %} <map name="chip">
        <area shape="rect" coords="{{eye_x}}, {{eye_y}}, {{horn_x}}, {{horn_y}}"></area>
    </map> {% endcomment %}
</main>
{% endblock %}
